option_settings:
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root

commands:
  01_create_dirs:
    command: |
      mkdir -p /var/app/current/storage/framework/sessions
      mkdir -p /var/app/current/storage/framework/views
      mkdir -p /var/app/current/storage/framework/cache
      mkdir -p /var/app/current/storage/logs
      mkdir -p /var/app/current/bootstrap/cache

  02_fix_permissions:
    command: |
      if [ -d /var/app/current ]; then
        chown -R webapp:webapp /var/app/current/storage /var/app/current/bootstrap/cache
        chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache
      fi
