container_commands:
  01_fix_permissions:
    command: "chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache && chown -R webapp:webapp /var/app/current/storage /var/app/current/bootstrap/cache"

  02_clear_config_cache:
    command: "php /var/app/current/artisan config:clear"

  03_cache_config:
    command: "php /var/app/current/artisan config:cache"

  04_clear_route_cache:
    command: "php /var/app/current/artisan route:clear"

  05_clear_view_cache:
    command: "php /var/app/current/artisan view:clear"
